<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="../static/bootstrap.css">


</head>
<body>
  <!-- abaixo é o comando pra emitir a msg-->
  {% with messages = get_flashed_messages() %}
   {% if messages %}
      <ul id="messages" class="list-unstyled">
        {% for message in messages %}
        <li class="alert alert-success"> {{ message}}</li>
        {% endfor %}
      </ul>
     {% endif %}
      {% endwith%}
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="/cadastrar">Cadastrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/lista">Lista</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Sair</a>
        </li>
      </ul>

    <div class="container">

        {% block conteudo %}
        {% endblock %}

    </div>

        
</body>
</html>