<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href=" {{ url_for('static', filename='bootstrap.css')}}">
</head>
<body>
    
    <h2> Acessar o Sistema</h2>

    <form action="/autenticar" method="post">
        <div class="mb-3">
            <label class="form-label">login</label>
            <input type="text" name="txtLogin" class="form-control">
        </div>

        <div class="mb-3">
        <label class="form-label">Senha</label>
        <input type="password" class="form-control" name="txtSenha">
    
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Logar</button>

        </div>
    </form>


</body>
</html>